body{
  font-family: 'Open Sans', sans-serif;
  background: #1C1C1C;
  color: white;
}

.logo i {
  font-size: 21px;
  margin-right: 5px;
  word-spacing: 14px;
}

.logo{
  font-family: 'Bahnschrift', sans-serif;
  color: white;
  font-size: 50px;
}

.login-bottom-text{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: white;
  line-height: 19px;
}

header{
  background: #102946;
  padding-top: 20px;
}

header .form-group{
  margin-bottom: 0px;
}
header .btn-header-login{
  margin-bottom: 25px;	
}
.login-main{
  color: white;
  margin-top: 130px;
  margin-left: 200px;
}
.multibox{
  padding-left: 0px;
  padding-bottom: 10px;
}
.login-main span{
  color: white;
  font-size: 12px;
} 

.inscription {
  color: white;
}

footer hr{
  margin-top: 0px;
  padding-top: 0px;
}
.footer-options ul{
  clear: both;
  padding: 0px;
  margin: 0px;
}
.footer-options ul li{
  float:left;
  list-style: none;
  padding: 5px;
  font-size: 12px;
}
.footer-options ul li a{
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #000;
}
.copyrights{
  margin-top: 25px;
}

/*ETAPES*/

.step {
  list-style: none;
  margin: .2rem 0;
  width: 100%;
}

.step .step-item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative; 
  text-align: center;
}

.step .step-item:not(:first-child)::before {
  background: #0069d9;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 9px;
  width: 100%;
}

.step .step-item a {
  color: #acb3c2;
  display: inline-block;
  padding: 20px 10px 0;
  text-decoration: none;
}

.step .step-item a::before {
  background: #0069d9;
  border: .1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: .9rem;
  left: 50%;
  position: absolute;
  top: .2rem;
  transform: translateX(-50%);
  width: .9rem;
  z-index: 1;
}

.step .step-item.active a::before {
  background: #fff;
  border: .1rem solid #0069d9;
}

.step .step-item.active ~ .step-item::before {
  background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
  background: #e7e9ed;
}
