body {
    font-family: 'Open Sans', sans-serif;
    background: #1C1C1C;
}

nav {
    font-family: 'Bahnschrift', sans-serif;
    background: #102946;
    padding-top: 20px;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/

.dropdown-toggle::after {
    content: none;
    display: none;
}

.title {
    font-size: 14px;
    font-weight:bold;
}
.komen {
    font-size:14px;
}
.geser {
    margin-left:40px;
    margin-top:5px;
}

/*MENU DEROULANT*/

.list-group > .list-group {
    display: none;
    margin-bottom: 0;
}

.list-group-item:focus-within + .list-group {
    display: block;
}
  
.list-group > .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
  
  .list-group > .list-group-item:first-child {
    border-top-width: 0;
  }
  
  .list-group  > .list-group > .list-group-item {
    padding-left: 2.5rem;
  }